In [5]:
from requests import get, post
import pandas as pd

API_KEY = "6ZJOL10zsug95FnkfLPl4ejNximlknhM"
HEADER = {"x-dune-api-key" : API_KEY}

In [6]:
BASE_URL = "https://api.dune.com/api/v1/"

def make_api_url(module, action, ID):
    """
    We shall use this function to generate a URL to call the API.
    """

    url = BASE_URL + module + "/" + ID + "/" + action

    return url

def execute_query(query_id):
    """
    Takes in the query ID.
    Calls the API to execute the query.
    Returns the execution ID of the instance which is executing the query.
    """

    url = make_api_url("query", "execute", query_id)
    response = post(url, headers=HEADER)
    execution_id = response.json()['execution_id']

    return execution_id


def get_query_status(execution_id):
    """
    Takes in an execution ID.
    Fetches the status of query execution using the API
    Returns the status response object
    """

    url = make_api_url("execution", "status", execution_id)
    response = get(url, headers=HEADER)

    return response


def get_query_results(execution_id):
    """
    Takes in an execution ID.
    Fetches the results returned from the query using the API
    Returns the results response object
    """

    url = make_api_url("execution", "results", execution_id)
    response = get(url, headers=HEADER)

    return response


def cancel_query_execution(execution_id):
    """
    Takes in an execution ID.
    Cancels the ongoing execution of the query.
    Returns the response object.
    """

    url = make_api_url("execution", "cancel", execution_id)
    response = get(url, headers=HEADER)

    return response

In [7]:
execution_id = execute_query("1533375")

In [9]:
response = get_query_status(execution_id)

In [10]:
response = get_query_results(execution_id)

In [11]:
data = pd.DataFrame(response.json()['result']['rows'])

In [12]:
data

                                          owner  total
0    \x227ad43301f81ffdbc3918eae6e5e2f50f8504a1     12
1    \xb5429cc89786e51eb96db97cc18796dfd425bca4     12
2    \xcf3bc13c0f19b9549364cc5f4b7ea807b737c062     18
3    \x617b282fa97a7351faa3b3bcb9358ebc8855891c     23
4    \xa022f02d2f76159331bd5ddee7c30c256188096d     38
..                                          ...    ...
117  \x43098f3c62b4f5e6d4292acbc51bb727c9c27894     18
118  \x6efd6c35854e89b0f479e7cbdff8b7c15e4ac0ba     41
119  \x9dabafdffb061837457e2cc8f0204e9ae113e87d     20
120  \x563415679588e508c0c8f0a729c9bf898406e9b5     21
121  \x76e6e1aef042f984dfb279a75f11adb3995b7e93     13

[122 rows x 2 columns]

In [13]:
!pwd

/Users/jan/Documents/Programming/crypto/EthSF/dune_data

In [14]:
data.to_csv("/Users/jan/Documents/Programming/crypto/EthSF/dune_data/adidas_top_holders.csv")